<div class="container-fluid">
  <div class="row">      
    <% @approvals.each do |abook| %>
      <div class="col-md-1">
        <%= link_to image_tag(abook.cover,data:{src:"holder.js/10%x30"},alt:"Book Cover"),abook,class:"thumbnail" %>
      </div>
      <div class="col-md-11">
        <a href="#" class="h3"><%= abook.title %></a><br>
	by <a href="#" class="h5"><%= abook.author %></a><br><% user = User.find(abook.user_id) %>
	<%= button_to "Approve",accept_path(book_id:abook),class:"btn btn-xs btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
