<div class="sidebar col md-2">
    <ul class="nav nav-sidebar">
      <li><a href='#'>Genres</a></li>
      <li class="divider"></li>
      <li><a href='#'>Novels</a></li>
      <li><a href='#'>Electrical</a></li>
    </ul>
  </div>
</div>