<p>Hi <strong><%= User.find(@book.user_id).fullname.downcase.capitalize %></strong><br><br>
You are have been requested a book named <strong><%= @book.title %></strong> by <strong><%= User.find(@user.id).fullname.downcase.capitalize %></strong> for a period of one month.<br><br>
To Accept/Reject <%= link_to "click here","#",class:"email-link" %><br><br>
With Regards<br>
Insti Webops<br><br>
<small>Note: If you didn't respond for a week, the Request will be rejected.</small>
</p>
