<%= form_tag({controller:'books',action:'isbn_search'},{method:"get",class:"form-show form-inline"}) do %>
  <div class="form-group">
    <%= label_tag :isbn,nil, class:"col-md-2 control-label" %>
    <div class="col-md-10">
      <%= text_field_tag :isbn, nil,class:"form-control", placeholder:"ISBN number" %>
    </div>
  </div>
  <div class="form-group">
    <%= submit_tag "Submit", class:"btn btn-default form-trigger" %>
  </div>
<% end %>
