<p>Hi <strong><%= User.find(@book.user_id).fullname.downcase.capitalize %></strong><br><br>
Your request has been rejected by <strong><%= User.find(@user.id).fullname.downcase.capitalize %></strong>.<br><br>
With Regards<br>
Insti Webops<br><br>
</p>
