@import "bootstrap-sprockets";
@import "bootstrap";
#dnb_sec 
{
     -skrollr-animation-name:animation1;
}
@-skrollr-keyframes animation1
{
    0
    {
        margin-top:0px;
        position:relative;
        background-color:#e74c3c;
    }
    top
    {
        margin-top:0px;
        position:fixed;
        background-color:rgba(255, 255, 255,0.99);
    }
}
html, body {
margin: 0px;
padding: 0px;
overflow-x: scroll;
}
.dropdown>a
{
    background-color:transparent!important;
}
.bell>a:hover
{
    background-color:transparent!important;
}
.contain
{
    max-width:none!important;
}
/*bookindexcss begins*/
.search
{
position:fixed;
top:30%;
}
.booksearch
{
font-size:400%;
color:#e74c3c;
text-align:center;
}
.searchbox
{
height:2.5em;
}
.button
{
font-size:1.4em;
padding:10px 15px;
}
@media screen and (max-width: 992px) and (min-width: 768px)
{
.button
{
font-size:1.2em;
padding:10px 12px;
}
}
@media screen and (max-width: 550px) and (min-width: 470px)
{
.button
{
font-size:1em;
padding:6px 8px;
margin-left:35%;
}
}
@media screen and (max-width: 650px) and (min-width: 550px)
{
.button
{
font-size:1.1em;
padding:7px 9px;
margin-left:37%;
}
}
@media screen and (max-width: 767px) and (min-width: 651px)
{
.button
{
font-size:1.2em;
padding:8px 10px;
margin-left:39%;
}
}
/*bookindexcss ends*/
.isbn
{
    margin-top:10%;
}
.control-label
{
    padding-top:4px;
}
.book
{
    margin-top:5%;
}
.sodhi
{
    margin-left:5%;
}
.form
{
    margin-top:5%;
}
.image
{
    margin-left:2%;
    magin-top:40px;
}
.profile
{
    padding-top:20px;
    padding-bottom:20px;
}
.request
{
    margin-top:13%;
}
.paara
{
    padding-left:5%;
}
.form
{
    padding-top:20px!important;
}
.pform
{
    margin-top:5%;
    width:40%!important;
}
.form
{
    padding-top:-30px!important;
}
.udiv
{
    margin-left:3%;
}
.button1
{
    width:30%;
}
.dnb_secondary li:hover
{
    border-top: 2px solid #c0392b;
}
.dnb_secondary
{
    box-shadow: 0px 3px 0px #c0392b,0px 2px 5px #c0392b;
}
form_container
{
    width:30%;
}
#dnb_primary
{
    height: auto;
    position: relative;
    background-color:#fff;
    overflow:visible;
    z-index: 99;
    padding-bottom: 0.5em;
}
#dnb_primary ul
{
    margin-top:0.5em;
    padding-left: 0px;
}
#dnb_primary li
{
    display: inline;
}
#dnb_primary a
{
    color: #000;
    text-decoration: none;
}
#dnb_primary .btn:hover a
{
    color: #BBB;
}
#dnb_logo
{
    font-size: 1.7em;
}
@media screen and (min-width: 470px) and (max-width: 767px)
{
    #dnb_logo
    {
        font-size: 1.5em;
    }
}   
@media screen and (min-width: 300px) and (max-width: 469px)
{
    #dnb_logo
    {
        font-size: 1.3em;
    }
    #dnb_logo p
    {
       padding-top:5px;
    }
}
#dnb_logo p
{
    position: relative;
    top:50%;
    margin-bottom: auto;
}
.dropdown-menu
{
    z-index: 99;
}
.dnb_id
{
    padding-left: 5px;
}
.dnb_secondary a
{
    text-decoration: none;
}
.dnb_secondary
{
    box-sizing: border-box;
    width: 100%;
    height:40px;
    left:0px;
    position:relative;
    margin-top: auto;
    z-index: 98;
}
@media screen and (min-width: 300px) and (max-width: 702px)
{
    .btn2
    {
        padding-top:0px!important;
        margin-top: 0px!important;
    }
}
.dnb_secondary ul
{
    list-style-type: none;
    margin-bottom: 0px;
    box-sizing: border-box;
}
.dnb_secondary li
{
    border-top: 2px solid rgba(255, 255, 255,0);
}
.btn2
{
    color: #000;
    font-size: 0.925em;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#dnb_secondary_logo
{
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 0px;
}
.dropdown ul
{
    background-color: rgba(255,255,255,0.9);
}
.dropdown:hover ul
{
    display: block;
    margin-top: -5px;
}
.foot
{
    background-color:#e74c3c!important;
}
.foot>li>a
{
    color:white;
}
.foot>li>a:hover
{
    color:black;
}
#footer
{
    width:100%;
}
.curs
{
    cursor:pointer;
    cursor:hand;
}
.btn-default
{
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
}
.btn-default:hover
{
    background:#e0e0e0!important;
}
.total
{
    position:relative;
    right:10%;
}
.sform
{
    margin-top:13%;
}
.isb
{
    font-size:300%;
    color:#e74c3c;
}
.bookform
{
    position:absolute;
    top:120px;
}
.formcontainer
{
    position:absolute;
    top:200px;
}
.isbform
{
    position:absolute;
    top:200px;
}
