<p>Hi<strong><%= User.find(@book.user_id).fullname.downcase.capitalize %></strong><br><br>
Your request has been accepted by <strong><%= User.find(@user.id).fullname.downcase.capitalize %></strong> for a period of one month.<br><br>
<!--Book details and the details of the books owner-->
With Regards<br>
Insti Webops<br><br>
<small>Note: If you didn't respond for a week, you have to repeat the entire process.</small>
</p>
